<head>
    <link rel="stylesheet" href="~/Content/DataTable.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href=" https://cdn.datatables.net/buttons/1.6.1/css/buttons.dataTables.min.css" />
</head>
<br />
<br />
<br />
<br />
<div class="modal fade" id="modalAdd" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">

    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="mTitle">Task</h4>
                <button id="close-modal" type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="table-responsive">
        <table id="billsTable" width="100%">
            <thead>
                <tr>
                    <th></th>
                    <th>Movie Name</th>
                    <th>Time of purchase</th>
                    <th>Total price</th>
                    <th></th>
                </tr>
               
            </thead>
            <tbody class="table table-bordered"></tbody>
        </table>
    </div>
</div>
<style>
    #tasksTable {
        -moz-transform: scale(0.9, 0.9); /* Moz-browsers */
        zoom: 0.9; /* Other non-webkit browsers */
        zoom: 90%; /* Webkit browsers */
    }


    #tasksTable_paginate {
        margin-right: 1.2%;
    }
</style>

@section Scripts{
    <script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.21.0/moment.min.js"></script>
    <script src="~/Scripts/BillsDataTable.js"></script>

}

